.site-body {
  height: 100%;
}

.panel {
  background-color: #37474f;
}

.body {
  /* background-color: rgb(196, 196, 196); */
  background-image: url("/src/Images/unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  overflow-y: scroll;
}

.my-avatar {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.panel h3,
.panel p {
  text-align: center;
  color: #eceff1;
  padding: 0px 10px;
}

.social-network {
  margin-top: 20px;
}

.div-footer {
  color: white;
}

@media (min-width: 600px) {
  .div-footer {
    position: absolute;
    bottom: 0;
    color: white;
  }

  .body {
    overflow-y: scroll;
  }
}

@media (max-width: 600px) {
  .div-body {
    padding-left: 20px;
  }
}

.div-body h1 {
  text-align: center;
}
